<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Hello World!</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.4.0/echarts.min.js"></script>
    <script th:src="@{'/newsgroup_2d/'+${datatype}+'_tsne_'+${compareMethod}+'.csv.js'}"></script>
    <script th:src="@{'/newsgroup_2d/'+${datatype}+'_tsne_LAM.csv.js'}"></script>
</head>
<body style="background-color: beige;">
<form id="form" action="/show2d" target="_blank">
    <select name="cat">
        <option value="comp_rec">comp_rec</option>
        <option value="comp_sci">comp_sci</option>
        <option value="comp_talk">comp_talk</option>
        <option value="rec_sci">rec_sci</option>
        <option value="rec_talk">rec_talk</option>
        <option value="sci_talk">sci_talk</option>
    </select>
    <select name="compareMethod">
        <option value="">全部对比</option>
        <option value="mtrick">mtrick</option>
        <option value="DTL">DTL</option>
        <option value="TriTL">TriTL</option>
        <option value="LAM">our</option>
        <option value="LSF">our</option>
    </select>
    <input type="submit" name="提交"/>
</form>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<!--<div id="head" style="width: 100%;height:25px;text-align:center;">文档降维可视化展示</div>-->
<div id="main" style="align:center;margin:0 auto;width: 100%;height:710px;"></div>
<script th:inline="javascript">
    var compareMehtodData = [];
    var othermethod = [[${compareMethod}]];
    if (othermethod == 'mtrick') {
        compareMehtodData = mtrick;
    }
    else if (othermethod == 'DTL') {
        compareMehtodData = DTL;
    }
    else if (othermethod == 'TriTL') {
        compareMehtodData = TriTL;
    } else if (othermethod == 'LAM') {
        compareMehtodData = LAM;
    } else if (othermethod == 'LSF') {
        compareMehtodData = LSF;
    }
    console.log(othermethod);
    console.log(compareMehtodData);
</script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例

    var worldMapContainer = document.getElementById('main');

    var resizeWorldMapContainer = function () {
        worldMapContainer.style.width = window.innerHeight * 1.6 + 'px';
        worldMapContainer.style.height = window.innerHeight * 0.80 + 'px';
    };

    resizeWorldMapContainer();
    var myChart = echarts.init(worldMapContainer);

    // 指定图表的配置项和数据


    option = {
        title: {
            text: '',
            x: 'center',
            y: -4,
            textStyle: {
                color: '#333',
                fontStyle: 'normal',
                fontWeight: 'bolder',
                fontFamily: 'sans-serif',
                fontSize: 40
            },
        },

        color: ['red', 'blue'],
        toolbox: {
            show: true,
            feature: {
                mark: {show: true},
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar']},
                restore: {show: true},
                dataZoom: {
                    yAxisIndex: 'none'
                },
                saveAsImage: {show: true}
            }
        },
        legend: {
            x: 50,
            y: 'top',
            data: ['1', '2'],
            textStyle: {
                color: '#000',
                fontSize: 16
            }
        },
        grid: [
            {x: '4%', y: '10%', width: '41%', height: '82%', borderColor: 'black', show: true, borderWidth: 2},
            {x2: '4%', y: '10%', width: '41%', height: '82%', borderColor: 'black', show: true, borderWidth: 2},
        ],

        xAxis: [
            {
                gridIndex: 0, min: -100, max: 100, axisLabel: { //调整x轴的lablel
                textStyle: {
                    fontSize: 20 // 让字体变大
                }
            }
            },
            {
                gridIndex: 1, min: -100, max: 100, axisLabel: { //调整x轴的lablel
                textStyle: {
                    fontSize: 20 // 让字体变大
                }
            }
            }

        ],
        yAxis: [
            {
                gridIndex: 0,
                min: -100,
                max: 100,
                name: othermethod + '降维示意图',
                nameGap: 30,
                nameLocation: 'start',
                nameTextStyle: {
                    fontSize: 30
                }, axisLabel: { //调整x轴的lablel
                textStyle: {
                    fontSize: 20 // 让字体变大
                }
            }
            },
            {
                gridIndex: 1,
                min: -100,
                max: 100,
                name: 'LAM-TL降维示意图',
                nameLocation: 'start',
                nameGap: 30,
                nameTextStyle: {
                    fontSize: 30
                }, axisLabel: { //调整x轴的lablel
                textStyle: {
                    fontSize: 20 // 让字体变大
                }
            }
            }
        ],
        series: [
            {
                name: '1',
                symbolSize: 8,
                type: 'scatter',
                symbol: 'rect',
                xAxisIndex: 0,
                yAxisIndex: 0,
                data: compareMehtodData[0],
                large: true

            },
            {
                name: '2',
                type: 'scatter',
                symbolSize: 8,
                symbol: 'diamond',
                xAxisIndex: 0,
                yAxisIndex: 0,
                data: compareMehtodData[1],
                large: true
            },
            {
                name: '1',
                symbolSize: 8,
                type: 'scatter',
                symbol: 'rect',
                xAxisIndex: 1,
                yAxisIndex: 1,
                data: LAM[0], large: true
            },
            {
                name: '2',
                type: 'scatter',
                symbolSize: 8,
                symbol: 'diamond',
                xAxisIndex: 1,
                yAxisIndex: 1,
                data: LAM[1], large: true

            }

        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
    window.onresize = function () {
        resizeWorldMapContainer();
        myChart.resize();
    };
</script>
</body>
</html>